
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
.titulo{
    color: brown;
    font-weight: bold;
    font-size: large;
}

.div-1 {
    background-color: white; 
    color: white; 
    height: 150px;
    width: 100%;
    display: table;
    table-layout: fixed; /*Optional*/
    border-spacing: 10px; /*Optional*/
}

.Column {
    display: table-cell;
    background-color: #124580; /*Optional*/
    margin: 10px;
    padding: 15px;
}
